$palette = {
    primary: {
        base: #292e33
    },
    background: {
        base: #fff
    },
    accent: {
        base: #3fe69f
    }
}

$font-sizes = {
    base: 16px,
    '1': 50px,
    '2': 40px,
    '3': 30px,
    '4': 20x,
    '5': 16px,
    '6': 14px,
} 

$line-heights = {
    base: 1.4,
    heading: 1.1
}

$breakpoints = {
    '1': 400px,
    '2': 600px,
    '3': 800px,
    '4': 1000px,
    '5': 1200px
}