html
    box-sizing: border-box
    
*, *:before, *:after
    box-sizing: inherit

html, body
    background: -color('background')
    -webkit-font-smoothing: antialiased

body
    font-family: 'Montserrat', sans-serif
    font-size: -font-size()
    line-height: -line-height()
    color: -color('primary')
    overflow-x: hidden